<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CRM_project">
    <test name="SDET_project">
       <classes>
            <class name="Selenium_project.Activity1" />
             <class name="Selenium_project.Activity2"/>
             <class name="Selenium_project.Activity3"/>
             <class name="Selenium_project.Activity4"/>
             <class name="Selenium_project.Activity5"/>
             <class name="Selenium_project.Activity6"/>
             <class name="Selenium_project.Activity7"/>
             <class name="Selenium_project.Activity8"/>
             <class name="Selenium_project.Activity9"/>
             
               
        </classes>
    </test>
</suite>